<header class="card-header">
    <div class="card-header-icon">
        <figure class="image is-96x96 is-square card-avatar">
            <img src="" id='card-img'>
        </figure>
    </div>
    <h5 class="card-header-title is-centered title is-5">
        {{project_name}}
    </h5>
</header>
<div class="card-content" id='card'>
    <div class="content">
        <ul>
            <li>
                <strong>Skills Needed:</strong>
                <span id="skills"></span>
            </li>
            <li>
                <strong>Duration: </strong>
                <span id="duration"></span>
                <strong>Hrs</strong>
            </li>
            <li id='content-area'>
                <strong>Description:</strong>
            

            </li>
        </ul>
    </div>
</div>
<footer class="card-footer">
    <span class="icon is-small show-more" id='show-more'>
        <i class="fas fa-angle-down fa-3x" aria-hidden="true"></i>
    </span>
    <a href="#" class="card-footer-item has-text-light footer-6" style='z-index:0;'>
        <strong>Volunteer</strong>
    </a>
</footer>
</div>
</div>