<div class="form-collection">
  <div class="card elevation-3 limit-width log-in-card below turned">
    <div class="card-body">
      <div class="input-group email">
        <input type="text" placeholder="Email" name="email" />
      </div>
      <div class="input-group password">
        <input type="password" placeholder="Password" name="password" />
      </div>
      <a href="#" class="box-btn">Forgot Password?</a>
    </div>
    <div class="card-footer">
      <button class="login-btn">Log in</button>
    </div>
  </div>


  <div class="card elevation-2 limit-width sign-up-card above">
    <div class="card-body">
      <div class="input-group fullname">
        <input type="text" placeholder="Name" name="name" />
      </div>
      <div class="input-group email">
        <input type="email" placeholder="Email" name="email" />
      </div>
      <div class="input-group password">
        <input type="password" placeholder="Password" name="password" />
      </div>
    </div>
    <div class="card-footer">
      <button class="signup-btn">Sign Up</button>
    </div>
  </div>
</div>