<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karma</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/mystyles.css" />
    {{!-- <link rel="stylesheet" type="text/css" media="screen" href="../app/public/css/login-modal.css" /> --}}
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="/js/home.js"></script>
	<body>
		{{{ body }}}
	</body>
</html>
